
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);

body {
    margin: 0px;
    padding: 0px;
}

/* first section */
.div1 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
    ), url(img/vanillacupcake.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

.heading1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bdffebdc;
    color: #2b2b2b;
    width: 300px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-family: 'Source Sans Pro', sans-serif;
}

.heading2 {
    margin-top: 0px;
    text-align: center;
}

.div2 {
    background-color: #2b2b2b;
    color: #ebf7f3e0;
    margin: 0px;
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    }

    

/* second section */
.subdiv2 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url(img/cloud.jpg);
    background-size: cover;
    height: 75vh;
    background-position: center;
    position: relative;
    margin: 0px;
    background-attachment: fixed;
}

.heading4 {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 75vh;
    width: 100%;
    color: #ebf7f3f8;
    font-family: 'Source Sans Pro', sans-serif;
}

.subdivpic2 {
    background-color: #2b2b2b;
    color: #ebf7f3e0;
    margin: 0px;
    padding: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}

/* thir section */
.heading3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1b1ffd7;
    color: #2b2b2b;
    width: 300px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    font-family: 'Source Sans Pro', sans-serif;
}


.div3 {
    background: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
    ), url(img/unicorncupcake.jpg) ;
    height: 100vh;
    background-size: cover;
    background-position: center;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-attachment: fixed;
}

/* footer */

.footer {
    background-color: #2b2b2b;
    margin: 0px;
    padding: 0px;
    background-size: cover;
    padding: 50px;
}

h6 {
    margin: 0px;
    display: inline-block;
    color: #ebf7f3e0;
}

.foot {
    display: inline-block;
    width: 200px;
    height: 25vh;
    size: 60px;
}